@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body {
  background-color: #fbf3e8;
}
* {
 box-sizing: border-box;
 }