.signup-container {
  align-self: center;
  padding: 1em;
  width: 80%;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px #0097a7;
  transition: all 2s ease;
  text-align: center;
}

#signup-button {
  border: 2px solid transparent;
  background: #76323f;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 auto;
}
#signup-button:hover {
  background-color: #2980b9;
}
#signup-login0,
#signup-login1,
#signup-login2,
#signup-login3 {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 100%;
  transition: border 0.5s;
  margin-bottom: 10px;
  color: #777;
  outline-color: #438496;
}

@media (max-width: 500px) {
  .signup-container {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .signup-container {
    width: 900px;
  }
  #signup-login0,
#signup-login1,
#signup-login2,
#signup-login3 {
  margin: 20px;
  width: 90%;
}
#signup-button {
  width: 90%;
}
}
