.products {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 auto;
}

.products img {
  width: 100%;
}
@media (min-width: 1000px) {
  .products .product{
    width: 40%;
  }
}
