#additional-pictures-text {
  text-indent: 15px;
  font-size: 90%;
  margin: 10px;
}
.detail-parent-div {
  display: flex;
  padding-top: 80px;
  color: #15363f;
}

.detail {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  background-color: #b37d4e;
  /* padding: 10px; */
  padding-left: 10px;
  font-size: 130%;
  position: relative;
  align-self: flex-start;
  padding: 20px;
}
.detail-extra-photo-div {
  width: 80px;
  height: 80px;
  align-self: center;
  border: 1px solid #35161c;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  margin: 5px;
  object-fit: scale-down;
  /* background-color: white; */
}

.name {
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
  color: #55252f;
  text-align: center;
}

.price {
  font-size: 28px;
}

.description {
  padding: 10px;
  padding-left: 20px;
  letter-spacing: 0.9px;
}
.detail-leftside {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-self: flex-start;
  width: 100%;
}
.detail-image {
  width: 450px;
  height: 450px;
  object-fit: scale-down;
  margin: 15px;
  border: 1px solid #284f59;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  align-self: center;
  /* background-color: white; */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.button-container a{
  text-decoration: none;
}

.detail-extra-photo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
  margin-bottom: 10px;
}

.edit-link,
.delete-button {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 40px;
  width: 40%;
  align-self: center;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.edit-link {
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width: 300px) {
  .detail-parent-div {
    display: flex;
    flex-direction: column;
  }
  .detail-image {
    width: 250px;
    height: 250px;
  }
  .name {
    font-size: 40px;
  }
  .detail-extra-photo-div {
    width: 60px;
    height: 60px;
  }
  .detail {
    padding: 0px;
  }
}

@media (max-width: 500px) and (min-width: 301px){
  .detail-parent-div {
    display: flex;
    flex-direction: column;
  }
  .detail {
    padding-bottom: 10px;
  }
  .name {
    font-size: 50px;
  }
  .detail-extra-photo-div {
    width: 60px;
    height: 60px;
  }
  .detail {
    padding: 0px;
  }
  .detail-image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 400px) and (min-width: 301px){
 
}

@media (max-width: 800px) and (min-width: 501px){
  .detail-parent-div {
    display: flex;
    flex-direction: column;
  }
  .detail-extra-photo-div {
    width: 60px;
    height: 60px;
  }
  .detail-image {
    margin-top: -50px;
    width: 300px;
    height: 300px;
  }
  .detail {
    padding: 0px;
  }
}

@media (max-width: 1024px) and (min-width: 801px) {
  .detail-image {
    margin-top: -50px;
  }
 .detail {
  margin-top: -50px;
  padding: 0px;
 }
}
@media (min-width: 1025px) {
  .detail-image {
    width: 500px;
    height: 500px;
  }
}
