* {
  box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  body {
  font-family: Arial;
  background-color: #438496;
  padding: 50px;
  }
  .login {
  margin: 20px auto;
  width: 500px;
  }
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  /* .control-group {
  margin-bottom: 10px;
  } */
  
  input, textarea {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 350px;
  transition: border .5s;
  margin-bottom: 10px;
  color: #777;
  }
  textarea:focus{
    text-align: justify;
  }
  
  input:focus {
  border: 2px solid #438496;
  box-shadow: none;
  }
  
  .btn {
    border: 2px solid transparent;
    background: #76323F;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  
  .btn:hover {
    background-color: #2980B9;
  }
 
  .layout{
    height: 100vh !important;
  }
 .layout-children{
   padding:10px !important;
 }