.login {
  margin: 20px auto;
  width: 80%;
}
.login-screen {
  align-self: center;
  padding: 1em;
  width: 80%;
  height: 80%;
  margin: 4em auto;
  background-color: #fbf3e8;
  padding: 20px;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px #0097a7;
  max-width: 600px;
}

.app-title {
  text-align: center;
  color: black;
}

.login-form {
  text-align: center;
}

.login-form input,
.login-form textarea {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid black;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 100%;
  transition: border 0.5s;
  margin-bottom: 10px;
  color: #777;
  outline-color: #438496;
}

textarea:focus {
  text-align: justify;
}

.submit {
  border: 2px solid transparent;
  background: #76323f;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.submit:hover {
  background-color: #2980b9;
}

@media (max-width: 500px) {
  .login {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .login {
    width: 900px;
  }
  .login-form input,
  .login-form textarea {
    margin: 10px;
  }
}
