@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  overflow: hidden;
  height: 100%;
}

button {
  cursor: pointer;
  border-radius: 3px;
}

.navbar {
  background: #0097a7;
  height: 4em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav .links a,
.navbar span {
  margin: 0 1em;
  color: #f8f8f8;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.4s ease;
}

.navbar .nav .links a:hover {
  color: #ffccbc;
}

.navbar .nav {
  display: flex;
  transition: all 0.4s ease;
}

.container {
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.form-container {
  align-self: center;
  padding: 1em;
  width: 500px;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease;
}

.form-container .danger {
  background: #e57373;
}

.form-container h3 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-container form input {
  /* width: 100%; */
  margin: 0.5em auto;
  border-radius: 3px;
  outline: none;
  transition: all 0.4s ease;
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 350px;
  margin-bottom: 10px;
  color: #777;
}

.form-container form input:focus,
.form-container form input:active {
  border: 2px solid #438496;
}

.form-container form input:valid {
  border: 2px solid #438496;
}

.form-container form button {
  width: 50%;
  margin: 1em auto;
  background: #56c8d8;
  border: none;
}

.form-container form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.form-container form a {
  margin: auto;
}

.form-container form label {
  margin-top: 0.6em;
}

.layout {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: Calc(100vh - 4em);
}

.layout .content {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
}

.layout .content nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.8 1;
  z-index: 1000;
  background: #f8f8f8;
  box-shadow: inset -10px 8px 10px -6px rgba(0, 0, 0, 0.3);
}

.layout .content nav a {
  text-decoration: none;
  text-align: center;
  padding: 1em 0;
  font-size: 1.1rem;
  width: 100%;
  color: #333;
  transition: all 0.4s ease;
}

.layout .content nav a:hover {
  background: #616161;
  color: #f8f8f8;
}

.layout .content nav a:first-of-type {
  border-bottom: 2px solid #333;
}

.layout .content nav a:last-of-type {
  border-bottom: 2px solid #333;
}

.layout .content .main {
  flex: 3 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout .content .main .item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-template-rows: auto;
  width: 80%;
  padding: 2em 0;
}

.item {
  border: 2px solid #81b9bf;
  text-align: center;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.item .buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

.item h4 {
  font-size: 1.2rem;
}

.item a {
  text-decoration: none;
  text-align: center;
  padding: 1em 0;
  font-size: 1.1rem;
  color: #333;
  transition: all 0.4s ease;
  width: auto;
  align-self: flex-start;
}

.item a:hover {
  opacity: 0.5;
}

.item a::before {
  content: "<-";
}

.item-container .item {
  min-width: 200px;
  min-height: 100px;
}

.item-container .item button {
  background: #0097a7;
  color: #f8f8f8;
}

.item-container .item button:hover {
  background: #56c8d8;
  color: #333;
}

.danger {
  background: #e57373;
}

.error {
  text-align: center;
  color: #e57373;
  font-size: 1.1rem;
}

.edit {
  background: #b2dfdb;
}

.edit:hover {
  background: #82ada9;
}

.danger:hover {
  color: #f8f8f8;
  background: #af4448;
}

.alert {
  width: 400px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

.alert h3 {
  font-size: 1.2rem;
  font-weight: 800;
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 0.5em;
  cursor: pointer;
  transition: all 0.4s ease;
}

.alert h3:hover {
  color: #f8f8f8;
}

.alert p {
  color: #388e3c;
  width: 80%;
  margin: auto;
  align-self: center;
  text-align: center;
  flex: 2;
}

.hide {
  transform: translate(-50%, 200%);
}

.show {
  transform: translate(-50%, -10%);
}

.success {
  background: #dcedc8;
}

.success h3:hover {
  color: #333;
  opacity: 0.6;
}

.landing .container {
  text-align: center;
}

.landing .main .item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-template-rows: auto;
  width: 80%;
  margin: 4em auto;
}

#signin-button {
  border: 2px solid transparent;
  background: #B37D4E;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}
#signin-button:hover {
  background-color: #2980b9;
}