

.container {
  height: 100%;
}

.form-container {
  align-self: center;
  padding: 1em;
  width: 500px;
  height: 80%;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px #0097a7;
  transition: all 2s ease;
  text-align: center;
}


.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-container form input {
  margin: 0.5em auto;
  border-radius: 3px;
  outline-color: #438496;
  /* outline: none; */
  transition: all 0.4s ease;
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 350px;
  margin-bottom: 10px;
  color: #777;
}

.form-container form button {
  width: 50%;
  margin: 1em auto;
  background: #56c8d8;
  border: none;
}

.form-container form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}


.danger {
  background: #e57373;
}



#signin-button {
  border: 2px solid transparent;
  background: #b37d4e;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}
#signin-button:hover {
  background-color: #2980b9;
}
