
 .product-edit {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px;
  }
  .edit-form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 20px;
  }
  .edit-form label{
   margin-bottom: 5px;
   font-size: 22px;
  }
  .edit-form input{
    margin-bottom: 20px;
    font-size: 22px;
  }
  .edit-form textarea{
    margin-bottom: 20px;
  }
  .images-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .image-container{
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .edit-product-image {
    width: 75%;
    height: 75%;
    background-color: #ffffff;
    object-fit: scale-down;
  }

  #image-link {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

.save-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 200px;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 500px) {
  .input-name {
    margin-left: -10px;
    padding-left: -10px;
    font-size: 26px;
  }
  .edit-form {
    padding: 0px;
  }
  .textarea-description {
    width: 100%;
    padding: 0px;
  }
  .product-edit {
    width: 100%;
    flex-direction: column;
  }
  .images-container {
    width: 100%;
  }
} 
