nav {
  display: flex;
  width: 100%;
  background-color: #fadab2;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  width: 175px;
  display: block;
  margin: auto;
  text-align: center;
  border: 3px #438496 solid;
  /* margin-top: 60px; */
  border-radius: 50%;
}

.link {
  flex: 1;
  text-decoration: none;
  color: #565656;
}

.link:hover {
  transform: scale(1.05);
}
