nav {
  display: flex;
  width: 100%;
  background-color: #fae3c7;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  width: 175px;
  /* display: block;
  margin: auto; */
  text-align: center;
  border: 3px #438496 solid;
  margin-top: 40px;
  margin-left: 10px;
  border-radius: 50%;
}

.link {
  flex: 1;
  text-decoration: none;
  color: #565656;
}

.link:hover {
  transform: scale(1.05);
}
